.app {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url('../assets/backgroundThemes/Rose.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.6rem;
    transition: all linear 0.3s;
    color: var(--text-primary-contradictory);
    display: flex;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transition: all linear 0.2s;
    pointer-events: none;
    z-index: 9999;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    user-select: auto;
    pointer-events: auto;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: min(580px, 95vw);
    height: 85%;
    border: none;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.2s;
}

#modal.active {
    opacity: 1;
    visibility: visible;
    z-index: 999999;
}

.app__sidebar-container {
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
}

#sidebar {
    background: var(--smoke-overlay);
    max-height: 100vh;
    height: 100vh;
    overflow: overlay;
}

.content-container {
    flex: 1;
}

.sidebar__logo {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__logo-img {
    object-fit: cover;
}

.sidebar__menu {
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.sidebar__menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid var(--border-gray-color);
    cursor: pointer;
}

.upgrade-account {
    padding: 20px;
    background-image: linear-gradient(117deg, #614de5, #b567d9);
    margin: 12px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 30px;
}

.upgrade-account__btn {
    padding: 8px 20px;
    border-radius: 100px;
    background: yellow;
    font-size: 1.4rem;
    margin-top: 16px;
}

.sidebar__menu-item-title {
    font-size: 1.6rem;
    color: var(--text-primary);
    white-space: nowrap;
    margin-left: 10px;
}

.sidebar__menu-item.active {
    background-color: var(--smoke-overlay);
    border-left: 3px solid #f12d94;
}

.sidebar__menu-item:hover {
    background-color: var(--smoke-overlay);
}

#header {
    height: var(--header-height);
    background-image: url('../assets/modalThemes/RoseBgModel.jpg');
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    padding: 0 25px;
    z-index: 100;
    gap: 25px;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0;
}

.nav__item {
    cursor: pointer;
    padding: 8px;
    font-size: 1.8rem;
    color: var(--text-primary);
}

#content {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - var(--header-height));
    overflow: overlay;
    padding-top: 20px;
    color: var(--text-primary);
}

#header,
#content {
    padding: 0 60px;
}

#content {
    padding-bottom: calc(var(--music-player-height) + 20px);
}

#header__input-search {
    padding: 8px;
    position: relative;
    width: 100%;
    background-color: var(--smoke-overlay);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-left: 40px;
    color: var(--text-primary);
}

.header__search-wrapper {
    flex: 1;
    max-width: 500px;
    position: relative;
}

.header__search-wrapper-input {
    position: relative;
}

.header__search-wrapper-input-result {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-image: url('../assets/modalThemes/RoseBgModel.jpg');
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: none;
    z-index: 1000;
}

.header__search-wrapper-input-result.active {
    display: block;
}

.header__search-wrapper-input-result-title {
    font-size: 1.8rem;
    color: var(--text-primary);
}

.header__search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-primary);
}

.header__search-wrapper-input-result-list {
    color: var(--text-primary);
    margin-top: 12px;
}

.header__search-wrapper-input-result-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 8px;
}

.header__search-wrapper-input-result-item:hover {
    background-color: var(--smoke-overlay);
    cursor: pointer;
}

.header__search-wrapper-input-result-item:hover .header__search-wrapper-input-result-img i {
    opacity: 1;
}

.header__search-wrapper-input-result-item:hover .header__search-wrapper-input-result-img img {
    filter: brightness(0.7);
}

.header__search-wrapper-input-result-img {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 42px;
    height: 42px;
    position: relative;
}

.header__search-wrapper-input-result-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.header__search-wrapper-input-result-img i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: white;
    opacity: 0;
}

.header__search-wrapper-input-result-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header__search-wrapper-input-result-info-title {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-primary);
}

.header__search-wrapper-input-result-info-artist {
    font-size: 1.4rem;
    color: var(--text-primary);
    font-weight: 300;
    color: gray;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__actions_user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__actions-user-avatar-wrapper {
    position: relative;
}

.header__actions-user-avatar-popper {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: min(250px, 95vw);
    background-image: url('../assets/modalThemes/RoseBgModel.jpg');
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.1s;
    user-select: none;
}

.header__actions-user-avatar-popper.active {
    visibility: visible;
    opacity: 1;
    user-select: auto;
}

.header__actions-user-avatar-popper-btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    color: var(--text-primary);
    padding: 12px 20px;
    border-bottom: 1px solid var(--border-gray-color);
}

.header__actions-user-avatar-popper-btn:hover {
    background-color: var(--smoke-overlay);
}

.header__actions-user-avatar-popper-btn:last-child {
    border-bottom: none;
}

.header__actions_auth {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__actions-login-btn,
.header__actions-register-btn {
    font-size: 1.4rem;
    color: var(--text-primary);
}

.header__actions-login-btn {
    padding: 9px 20px;
    border-radius: 100px;
    background: var(--linear-gradient-primary);
    color: #fff;
    font-size: 1.4rem;
    box-shadow: 0 3px 0px orangered;
}

.header__actions-login-btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.header__actions-theme-btn,
.header__actions-user-avatar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--smoke-overlay);
    color: var(--text-primary);
    cursor: pointer;
}

.header__actions-theme-btn {
    background-image: url('../assets/modalThemes/RoseBgModel.jpg');
    color: var(--text-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__actions_auth {
    display: none;
}

.header__actions_auth.active {
    display: flex;
}

.header__actions_user {
    display: none;
}

.header__actions_user.active {
    display: flex;
}

#mobile-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--sidebar-mobile-height);
    background-image: url('../assets/modalThemes/RoseBgModel.jpg');
    display: none;
    border-top: 1px solid var(--border-gray-color);
}

.mobile-sidebar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 1.4rem;
    color: var(--text-primary);
    padding: 10px 0px;
    height: var(--sidebar-mobile-height);
}

.mobile-sidebar__item.active {
    background-color: var(--smoke-overlay);
}

#playlist-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: min(400px, 100vw);
    height: 100%;
    z-index: 1000;
    transform: translateX(100%);
    transition: all linear 0.3s;
    background-image: url('../assets/modalThemes/RoseBgModel.jpg');
    color: var(--text-primary);
}

#playlist-sidebar.active {
    transform: translateX(0);
    z-index: 999999999999;
}

.playlist-sidebar__header {
    width: 100%;
    padding: 0 8px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--smoke-overlay);
    margin-bottom: 16px;
}

.playlist-sidebar__content {
    width: 100%;
    height: calc(100vh - calc(50px + 16px));
    overflow: overlay;
    padding: 0 8px;
}

.content_playlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
}

.content_playlist-item.active {
    background-color: var(--smoke-overlay);
}

.content_playlist-item-wrapper-img {
    position: relative;
}

.content_playlist-item-wrapper-img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.1rem;
    opacity: 0;
}

.content_playlist-item:hover {
    background-color: var(--smoke-overlay);
}

.content_playlist-item:hover .content_playlist-item-wrapper-img i {
    opacity: 1;
}

.content_playlist-item:hover img {
    filter: brightness(0.7);
}

.content_playlist-item-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content_playlist-item img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    object-fit: cover;
}

.content_playlist-item-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content_playlist-item-info-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary);
}

.content_playlist-item-info-artist {
    font-size: 14px;
    font-weight: 400;
    font-weight: 300;
    color: gray;
}

.content_playlist-item-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-sidebar__close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: var(--text-primary);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--smoke-overlay);
}

.content_playlist-item-actions-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--smoke-overlay);
    color: var(--text-primary);
}

.content_playlist-item-actions-btn i.active {
    color: rgb(255, 99, 125);
}

.music__player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--music-player-height);
    z-index: 1000;
    background-image: url('../assets/modalThemes/RoseBgModel.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    padding: 0 20px;
}

.music_player-info {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.music__player-info-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.music__player-info-title-name {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    width: calc(250px - 50px);
}

.music__player-info-title-artist {
    font-size: 1.4rem;
    font-weight: 300;
    color: gray;
}

.music__player-info-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.music__player-control {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 3;
}

.btn-toggle-play.playing .play-icon {
    display: none;
}

.btn-toggle-play:not(.playing) .pause-icon {
    display: none;
}

.btn-toggle-play {
    position: relative;
}

.btn-toggle-play * {
    font-size: 2.4rem;
    color: rgb(255, 96, 122);
    position: absolute;
}

.music__player-control-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.music__player-control-actions-btn {
    width: 20px;
    height: 20px;
    padding: 20px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music__player-control-actions-btn.active {
    color: rgb(255, 96, 122);
}

.music__player-control-actions-btn.btn-next:active i,
.music__player-control-actions-btn.btn-prev:active i {
    color: rgb(255, 96, 122);
}

.music__player-control-actions-btn i {
    line-height: 0;
}

.music__player-control-actions-btn:hover {
    background-color: var(--smoke-overlay);
}

.music__player-control-progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.music__player-control-progress-wrapper span {
    font-size: 1.4rem;
    font-weight: 300;
    color: gray;
    width: 30px;
}

#music__player-control-progress {
    width: 450px;
    max-width: 100%;
    cursor: pointer;
    height: 6px;
    cursor: pointer;
    outline: none;
    accent-color: #ff5117;
    color: #ff5117;
}

#music__player-control-progress::-webkit-slider-thumb {
    accent-color: #ff5117;
    color: #ff5117;
    height: 4px;
}

.music__player-action {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.music__player-action > * {
    color: var(--text-primary);
}

@media (max-width: 1024px) {
    #header,
    #content {
        padding: 0 20px;
    }
}

@media (max-width: 1113px) {
    .sidebar__menu-item {
        justify-content: center;
    }

    .upgrade-account {
        display: none;
    }

    .app__sidebar-container {
        width: var(--sidebar-tablet-width);
        max-width: var(--sidebar-tablet-width);
    }
}

@media screen and (max-width: 860px) {
    .music__player-info-title {
        display: none;
    }

    .music__player-control {
        width: 320px;
    }
}
@media (max-width: 739px) {
    #header,
    #content {
        padding: 0 6px;
    }

    #content {
        padding-bottom: calc(var(--sidebar-mobile-height) + var(--music-player-height) + 20px);
    }

    #mobile-sidebar {
        display: block;
    }

    .music__player {
        bottom: var(--sidebar-mobile-height);
    }

    .header__actions-register-btn {
        display: none;
    }

    #nav {
        display: none;
    }

    .app__sidebar-container {
        display: none;
    }

    .music__player-info-title {
        display: none;
    }

    .music__player-control {
        width: 320px;
    }

    .music_player-info {
        width: 50px;
    }

    .header__search-wrapper-input-result {
        width: 97vw;
    }
}

@media screen and (max-width: 480px) {
    .music__player-control {
        width: 275px;
    }

    .music__player-info-thumb {
        width: 40px;
        height: 40px;
    }

    .music__player-control-progress-wrapper {
        gap: 4px;
    }

    .music__player-control-actions {
        gap: 16px;
    }
}
